<div class="container-fluid" style="margin-top: 40px;
 display: flex; flex-direction: column;
 align-items: center;">
  <div style="font-size: 20px; text-align: center; margin: 10px;">
    ~ Cerca piatti per ingrediente ~
  </div>


  <div class="d-flex" style="width: 50vw;">
    <input id = "searchBar" class="form-control me-2"  type="search" placeholder="Specifica un ingrediente ..." aria-label="Search">
    <button class="btn btn-outline-success" style = "background-color: #21BF73; color: white" id="enter">Search</button>
  </div>

  <script type="text/javascript">
      $('#enter').click(function(){
       $.ajax({
             url: '/findRecipeByIngredient',
             type: 'POST',
             cache: false,
             dataType: 'json',
             data: { ingredient:  $("#searchBar").val()},
             success: function (result) {
                  if(result.status == 200){
                     console.log("OK");
                  }
                  console.log(result.ricette);
                  if(result.ricette.length > 0){
                     $('#containerdishInListItem').removeAttr('hidden');
                     $('#PaesePiuAbuso').removeAttr('hidden');
                     $('#resultQuery3').removeAttr('hidden');
                     document.getElementById("resultQuery3").innerHTML =  "Trovate " + result.ricette.length + " ricette con "+$("#searchBar").val();
                  }
                  else{
                    $('#containerdishInListItem').prop("hidden", true);
                    $('#PaesePiuAbuso').prop("hidden", true);
                    document.getElementById("resultQuery3").innerHTML = " Non ho trovato nessuna ricetta ";
                  }
                  var elementsTitles = document.getElementsByClassName("TitleRecipe");
                  var elementsDescriptions = document.getElementsByClassName("RecipeContent");
                  var elementsImage = document.getElementsByClassName("imgInItem3");


                  for(let i = 0; i < 8; i = i+ 1){
                    if(elementsTitles[i]){
                      elementsTitles[i].innerHTML = result.ricette[i].name;
                          //API per immagini ricetta
                           const settings = {
                              "async": true,
                              "crossDomain": true,
                              "url": "https://bing-image-search1.p.rapidapi.com/images/search?q="+result.ricette[i].name,
                              "method": "GET",
                              "headers": {
                                "x-rapidapi-key": "ec93995b4dmsh2d2c7afa5870d4cp1a18b5jsn2347d0d21baeMMMH",
                                "x-rapidapi-host": "bing-image-search1.p.rapidapi.com"
                              }
                          };
                         $.ajax(settings).done(function (response) {
                           console.log(response.value[0].contentUrl);
                          elementsImage[i].src = response.value[0].contentUrl;
                         });
                    }

                    elementsDescriptions[i].innerHTML = $("#searchBar").val();
                  }
              }
             , error: function(result){
                  console.log(result);
              }
          })
       });
  </script>


  <div style="font-size: 20px; text-align: center; margin: 10px;" id= "resultQuery3" hidden >
    Risultati trovati: --
  </div>


  <div class = "container" style= "display: flex; flex-wrap: wrap; flex-direction: row;
  justify-content: space-between; align-items: center;">

    <div style="width: 700px;" id = "containerdishInListItem" hidden>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>
      <%- include('items/dishInListItem');-%>

    </div>

    <div class="card" id = "PaesePiuAbuso" style="width: 18rem; text-align: center; border-radius: 30px; padding: 20px; margin: 20px;" hidden>
      <img src="https://www.countryflags.io/BE/flat/64.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Belgio</b></h5>
        <p class="card-text" style = "font-weight: normal;">È il paese che utilizza maggiormente carne nella sua cucina.</p>
      </div>
      <ul class="list-group list-group-flush" style = "font-weight: normal;">
        <li class="list-group-item" style = "font-weight: bold;"><i> <b>1.</b> Belgio</i></li>
        <li class="list-group-item"><i> 2. Lituania </i></li>
        <li class="list-group-item"> <i>3. Francia</i></li>
      </ul>
    </div>
  </div>



  <!-- cambio pagina -->
  <nav aria-label="Page navigation example" >
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>


</div>
